div#admin-offcanvas.admin-sidebar.am-offcanvas
    div.am-offcanvas-bar.admin-offcanvas-bar
        ul.am-list.admin-sidebar-list
            li
                a(href="/admin")
                    span.am-icon-home 
                    span 首页
            //- li.admin-parent
            //-     a.am-cf.am-collapsed(data-am-collapse="{target: '#collapse-nav'}")
            //-         span.am-icon-tags
            //-         span 功能模块 
            //-         span.am-icon-angle-right.am-fr.am-margin-right
            //-     ul#collapse-nav.am-list.am-collapse.admin-sidebar-sub.am-in
            //-         li
            //-             a.am-cf(href="admin-begin.html")
            //-                 span.am-icon-check 
            //-                 span 上课
            //-                 span.am-icon-star.am-fr.am-margin-right.admin-icon-yellow
            //-         li
            //-             a(href="admin-answer.html")
            //-                 span.am-icon-comments
            //-                 span 答题
            //-         li
            //-             a(href="admin-exam.html")
            //-                 span.am-icon-leanpub
            //-                 span 考试
            //-         li
            //-             a(href="admin-analysis.html")
            //-                 span.am-icon-line-chart 
            //-                 span 统计分析
            //-         li
            //-             a(href="admin-404.html")
            //-                 span.am-icon-bug 
            //-                 span 404
            li
                a(href="/admin/stu/list")
                    span.am-icon-user 
                    span 学生管理
                    
            li
                a(href="/admin/class/list")
                    span.am-icon-user 
                    span 教学班管理
                //- a.am-cf(data-am-collapse="{target: '#class-nav'}")
                //-     span.am-icon-flask
                //-     span 教学班管理
                //-     span.am-icon-angle-right.am-fr.am-margin-right
                //- ul#class-nav.am-list.am-collapse.admin-sidebar-sub.am-in
                //-     li
                //-         a(href="/admin/class/list")
                //-             span.am-icon-list-ul
                //-             span 教学班列表
                //-     li
                //-         a(href="/admin/class/add")
                //-             span.am-icon-clipboard
                //-             span 创建教学班
  
            //- li
            //-     a.am-cf(data-am-collapse="{target: '#lesson-nav'}")
            //-         span.am-icon-leaf 
            //-         span 课堂管理
            //-         span.am-icon-angle-right.am-fr.am-margin-right
            //-     ul#lesson-nav.am-list.am-collapse.admin-sidebar-sub.am-in
            //-         li
            //-             a(href="")
            //-                 span.am-icon-list-ul
            //-                 span 课堂列表
            //-         li
            //-             a(href="")
            //-                 span.am-icon-list-ul
            //-                 span 添加课堂

        div.am-panel.am-panel-default.admin-sidebar-panel
            div.am-panel-bd
                p
                    span.am-icon-bookmark 
                    span 公告
                p 时光静好，与君语；细水流年，与君同。—— Amaze UI

        div.am-panel.am-panel-default.admin-sidebar-panel
            div.am-panel-bd
                a(href="https://github.com/FrankXiong/classroom.git").am-icon-btn.am-icon-github.am-icon-sm
                a(href="http://voidman.xyz/")
                    .am-icon-btn.am-icon-wechat.am-success
                a(href="http://weibo.com/u/2892202502/")
                    .am-icon-btn.am-icon-weibo.am-danger
            
        div.am-panel.am-panel-default.admin-sidebar-panel
            div.am-panel-bd
                p
                    span.am-icon-tag 
                    span wiki
                p 欢迎来到翘课吧!
        
      