meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
meta(name="format-detection" content="telephone=no" )
meta(name="apple-mobile-web-app-capable" content="yes" )
meta(name="apple-mobile-web-app-status-bar-style" content="white")
meta(name="author" content="xiong xianren")
meta(name="renderer" content="webkit")
meta(http-equiv="Cache-Control" content="no-siteapp")
META(HTTP-EQUIV="pragma" CONTENT="no-cache") 
META(HTTP-EQUIV="Cache-Control" CONTENT="no-cache") 
META(HTTP-EQUIV="expires" CONTENT="0")

link(href="/css/lib/amazeui.css",rel="stylesheet")
link(href="/css/lib/normalize.css",rel="stylesheet")
link(href="/css/page/admin.css",rel="stylesheet")
link(href="/css/common.css",rel="stylesheet")
script(src="/js/lib/jquery.js")
script(src="/js/lib/amazeui.js")
script(src="/js/lib/av.js")
script(src="/js/lib/realtime.browser.js")
script(src="/js/app/chatroom.js" defer)