div#msgModal.am-modal.am-modal-alert(tabindex="-1")
    div.am-modal-dialog
        div#msgTitle.am-modal-hd
        div#msgContent.am-modal-bd Hello world！
        div.am-modal-footer
            span#checkin.am-modal-btn 签到