extends ../admin_layout

block content
    
    include ../includes/admin_sidebar
    div.admin-content
            div.admin-content-body
                include ../includes/admin_content_header                    
                div.am-g
                    div.am-u-sm-12
                        div.am-panel
                            div#echart

    script(src="http://echarts.baidu.com/build/dist/echarts-all.js")
    script(src="/js/app/admin_analysis.js")