extends ../admin_layout

block content
    include ../includes/admin_sidebar
    link(href="/css/page/admin_chatroom.css",rel="stylesheet")
    div.admin-content
            div.admin-content-body
                include ../includes/admin_content_header                    
                div.am-g
                    div.am-u-sm-12
                        div.am-panel
                            ul.am-list
                                each item in asks
                                    li.am-g.am-list-item-dated
                                        a(href="#").am-list-item-hd #{item.get('from')}: #{item.get('content')}
                                        span.am-list-date #{item.createdAt}
                            

      
    
  
                   
