extends ../admin_layout

block content
    include ../includes/admin_sidebar
    div.admin-content
            div.admin-content-body
                include ../includes/admin_content_header                    
                div.am-g
                    div.am-u-sm-12
                        ul.am-list.checkin-list
                            if checkinList
                                each item in checkinList
                                    li.checkin-list-item.am-cf 
                                        span.am-fl #{item.uname}:已签到
                                        span.am-fr.time #{item.time}
                                span 已签到人数:#{checkinList.length}
                            else
                                span 还没有人签到 

    script(src="/js/lib/require.js" data-main="/js/app/admin")




      
    
  
                   
