extends ../admin_layout

block content
    include ../includes/admin_sidebar
    link(href="/css/page/admin_chatroom.css",rel="stylesheet")
    div.admin-content
            div.admin-content-body
                include ../includes/admin_content_header                    
                div.am-g
                    div.am-u-sm-12
                        div.am-panel
                            span 签到
    script(src="/js/lib/require.js" data-main="/js/app/admin")




      
    
  
                   
