extends ../admin_layout

block content
    include ../includes/admin_sidebar

    div.admin-content
        if teacher
            div.admin-content-body
                div.am-cf.am-padding.am-padding-bottom-0
                    div.am-fl.am-cf
                        strong.am-text-primary.am-text-lg 导入学生
                hr
                div.am-g
                    div.am-u-sm-12
                        if tclass
                            form.am-form
                                div.am-g.am-margin-top
                                    input(type="hidden" value="#{tclass._id}" name="classid")
                                    div.am-u-sm-4.am-u-md-2.am-text-right 学号
                                    div.am-u-sm-8.am-u-md-4
                                        input#stuid(type="number" value="" name="stuid").am-input-sm
                                    div.am-hide-sm-only.am-u-md-6

                                div.am-g.am-margin-top
                                    div.am-u-sm-4.am-u-md-2.am-text-right 所在教学班级
                                    div.am-u-sm-8.am-u-md-4
                                        span#tclass.am-input-sm #{tclass.courseName}
                                    div.am-hide-sm-only.am-u-md-6

                                div.am-margin
                                    a(href='/admin/class/list').back.am-btn.am-btn-default.am-fl 返回
                                    button#importStuBtn(type="button").am-btn.am-btn-primary.am-fr 导入
                        else
                            div.am-u-sm-8.am-u-md-4 请先选择教学班级
        else 
            span 请先登录
                        
    script(src="/js/lib/require.js" data-main="/js/app/admin_class")    
        