extends ../admin_layout

block content
    include ../includes/admin_sidebar

    div.admin-content
        if teacher
            if tclass
                div.admin-content-body
                    div.am-cf.am-padding.am-padding-bottom-0
                        div.am-fl.am-cf
                            strong.am-text-primary.am-text-lg 导入学生/
                            small #{tclass.courseName}
                    hr
                    div.am-g
                        div.am-u-sm-12
                            form#formMultiImport.am-form.am-cf(enctype="multipart/form-data" method="post" name="formMultiImport")
                                div.am-g.am-margin-top
                                    div.am-u-sm-4.am-u-md-2.am-text-right 批量导入
                                    div.am-u-sm-8.am-u-md-4
                                        input#xlsx(type="file" value="" name="xlsx" required).am-btn-primary.am-btn
                                    div.am-u-md-6
                                        input#classid(type="hidden" value="#{tclass._id}" name="classid")
                                        button#multiImportBtn(type="button").am-btn.am-btn-primary.am-fr 批量导入
                            form#formSingleImport.am-form.am-cf(name="formSingleImport")
                                div.am-g.am-margin-top
                                    div.am-u-sm-4.am-u-md-2.am-text-right 学号
                                    div.am-u-sm-8.am-u-md-4
                                        input#stuid(type="number" value="" name="stuid").am-input-sm
                                    div.am-hide-sm-only.am-u-md-6
                                        input#classid(type="hidden" value="#{tclass._id}" name="classid")
                                        button#singleImportBtn(type="button").am-btn.am-btn-primary.am-fr 单个导入

            else
                div.am-u-sm-8.am-u-md-4 请先选择教学班级
        else 
            span 请先登录
                        
    script(src="/js/lib/require.js" data-main="/js/app/admin_class")    
        