extends ../layout

block content
    div.container   
        include ../includes/msg_modal     
        div.weui_grids
            a#checkin.weui_grid
                div.weui_grid_icon
                    span.am-icon-sign-in.am-icon-sm
                p.weui_grid_label#checkinLabel 签到
            a(href="/realtime").weui_grid
                div.weui_grid_icon
                    span.am-icon-commenting.am-icon-sm
                p.weui_grid_label 即时问答
            a(href="/ask").weui_grid
                div.weui_grid_icon
                    span.am-icon-question.am-icon-sm
                p.weui_grid_label 学生提问
            a(href="/open").weui_grid
                div.weui_grid_icon
                    span.am-icon-smile-o.am-icon-sm
                p.weui_grid_label 开放问题
            a(href="javascript:;").weui_grid#test
                div.weui_grid_icon
                    span.am-icon-pencil.am-icon-sm
                p.weui_grid_label 测验
            a(href="/chatroom").weui_grid.grid-active
                div.weui_grid_icon
                    span.am-icon-paper-plane.am-icon-sm
                p.weui_grid_label 实时反馈
        div(data-am-widget="list_news").am-list-news.am-list-news-default
            div.am-list-news-bd
                a(href="").am-list-item-hd 杨老师 
                div#printWall

        //- 输入框组件
        div.weui_cells.weui_cells_form.input-answer
            div.weui_cell 
                div.weui_cell_bd.weui_cell_primary 
                    input#inputSend.weui_input(type="text" placeholder="输入...")
                div.weui_cell_hd 
                    button#sendBtn.am-btn.am-btn-secondary.am-btn-lg 发送
                    
    script(src="/js/lib/jquery.js")
    script(src="/js/lib/amazeui.js")
    script(src="/js/lib/require.js" data-main="/js/app/chatroom")                
            
        
                
            
        
        
      

        
      
    
  
                   
