extends ../layout

block content
    
    div.container
        include ../includes/msg_modal
        //- div.weui_cells
        //-     div.weui_cell
        //-         div.weui_cell_bd.weui_cell_primary
        //-             p 标题文字
                
        //-         div.weui_cell_ft 说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字
        //-     div.weui_cell
        //-         div.weui_cell_bd.weui_cell_primary
        //-             p 标题文字
                
        //-         div.weui_cell_ft 说明文字
        
        //- div#my-prompt.am-modal.am-modal-prompt(tabindex="-1") 
        //-     div.am-modal-dialog 
        //-         div.am-modal-hd Amaze UI
        //-         div.am-modal-bd 来来来，吐槽点啥吧
        //-             input(type="text").am-modal-prompt-input 
        //-         div.am-modal-footer 
        //-             span.am-modal-btn(data-am-modal-cancel) 取消
        //-             span.am-modal-btn(data-am-modal-confirm) 提交
        //- input#stuid(type="hidden" value="#{user.stuid}")
        div.weui_grids
            a#checkin.weui_grid
                div.weui_grid_icon
                    span.am-icon-sign-in.am-icon-sm
                p.weui_grid_label#checkinLabel 签到
            a(href="/realtime").weui_grid
                div.weui_grid_icon
                    span.am-icon-commenting.am-icon-sm
                p.weui_grid_label 即时问答
            a(href="/ask").weui_grid
                div.weui_grid_icon
                    span.am-icon-question.am-icon-sm
                p.weui_grid_label 学生提问
            a(href="/open").weui_grid
                div.weui_grid_icon
                    span.am-icon-smile-o.am-icon-sm
                p.weui_grid_label 开放问题
            a(href="/test").weui_grid
                div.weui_grid_icon
                    span.am-icon-pencil.am-icon-sm
                p.weui_grid_label 测验
            a(href="/chatroom").weui_grid
                div.weui_grid_icon
                    span.am-icon-paper-plane.am-icon-sm
                p.weui_grid_label 实时反馈

        script(src="/js/lib/require.js" data-main="/js/app/client")
        
      

        
      
    
  
                   
