extends ../layout

block content
    
    div.container
        div.weui_cells_title 资源列表
        div.weui_cells.weui_cells_access.source_list
            div.weui_cell
                div.weui_cell_hd
                    img.cover(src="http://s.amazeui.org/media/i/demos/pure-1.jpg?imageView2/0/w/640" alt="") 
            
                div.weui_cell_bd.weui_cell_primary
                    h3.title WeUI 发布——微信官方UI库
                    p.summary 团队里的几个小伙子把微信里面web app的UI，按照设计规范给梳理了一遍，并将之开源了出来。
                
                div.weui_cell_ft
        
            div.weui_cell
                div.weui_cell_hd
                    img.cover(src="http://s.amazeui.org/media/i/demos/bing-2.jpg" alt="")
                
                div.weui_cell_bd.weui_cell_primary
                    h3.title 服务器被删除了
                    p.summary 因为没钱付服务器年费，所以一直都是月付，然后每个月服务器商会发来短信告诉我要缴费了。
                
                div.weui_cell_ft
          
            div.weui_cell
                div.weui_cell_hd
                    img.cover(src="http://s.amazeui.org/media/i/demos/bing-3.jpg" alt="")
                
                div.weui_cell_bd.weui_cell_primary
                    h3.title  QQ浏览器X5内核问题汇总
                    p.summary  常常被人问及微信中使用的X5内核的问题，其实我也不是很清楚，只知道它是基于android 4.2的webkit，版本号是webkit 534。
                
                div.weui_cell_ft

            div.weui_cell
                div.weui_cell_hd
                    img.cover(src="http://s.amazeui.org/media/i/demos/bing-2.jpg" alt="")
                
                div.weui_cell_bd.weui_cell_primary
                    h3.title 服务器被删除了
                    p.summary 因为没钱付服务器年费，所以一直都是月付，然后每个月服务器商会发来短信告诉我要缴费了。
                
                div.weui_cell_ft
          
            div.weui_cell
                div.weui_cell_hd
                    img.cover(src="http://s.amazeui.org/media/i/demos/bing-3.jpg" alt="")
                
                div.weui_cell_bd.weui_cell_primary
                    h3.title  QQ浏览器X5内核问题汇总
                    p.summary  常常被人问及微信中使用的X5内核的问题，其实我也不是很清楚，只知道它是基于android 4.2的webkit，版本号是webkit 534。
                
                div.weui_cell_ft
          

        div.weui_tab.ctr_bar
            div.weui_tab_bd
                div.weui_tab_bd_item
                    h3 微信
                
                div.weui_tab_bd_item
                    h3 通讯录
                
                div.weui_tab_bd_item
                    h3 发现
                
                div.weui_tab_bd_item
                    h3 我
                
            div.weui_tabbar
                a.weui_tabbar_item(href="javascript:;")
                    div.weui_tabbar_icon
                        img(src="http://weui.github.io/weui/images/icon_nav_dialog.png" alt="")
                    
                    p.weui_tabbar_label 答题
                
                a.weui_tabbar_item(href="javascript:;")
                    div.weui_tabbar_icon
                        img(src="http://weui.github.io/weui/images/icon_nav_search_bar.png" alt="")
                    
                    p.weui_tabbar_label 发现
                
                a.weui_tabbar_item(href="/user/:openid")
                    div.weui_tabbar_icon
                        img(src="http://weui.github.io/weui/images/icon_nav_cell.png" alt="")
                    
                    p.weui_tabbar_label 我
                
            
        
        
      

        
      
    
  
                   
