extends ../layout

block content
    
    div.container
        
        
        //- 弹窗组件
        //- div.weui_dialog_confirm 
        //-     div.weui_mask 
        //-     div.weui_dialog 
        //-         div.weui_dialog_hd 
        //-             strong.weui_dialog_title 会话标题
        //-         div.weui_dialog_bd 自定义弹窗内容 ...
        //-         div.weui_dialog_ft 
        //-             a(href="javascript:;").weui_btn_dialog.default 取消
        //-             a(href="javascript:;").weui_btn_dialog.primary 确定
                
            
        //- div.weui_cells
        //-     div.weui_cell
        //-         div.weui_cell_bd.weui_cell_primary
        //-             p 标题文字
                
        //-         div.weui_cell_ft 说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字
        //-     div.weui_cell
        //-         div.weui_cell_bd.weui_cell_primary
        //-             p 标题文字
                
        //-         div.weui_cell_ft 说明文字
        
        
        div.weui_grids
            a(href="javascript:;").weui_grid
                div.weui_grid_icon
                    span.am-icon-sign-in.am-icon-sm
                p.weui_grid_label 签到
            a(href="javascript:;").weui_grid
                div.weui_grid_icon
                    span.am-icon-commenting.am-icon-sm
                p.weui_grid_label 即时问答
            a(href="javascript:;").weui_grid
                div.weui_grid_icon
                    span.am-icon-question.am-icon-sm
                p.weui_grid_label 学生提问
            a(href="javascript:;").weui_grid
                div.weui_grid_icon
                    span.am-icon-smile-o.am-icon-sm
                p.weui_grid_label 开放问题
            a(href="javascript:;").weui_grid
                div.weui_grid_icon
                    span.am-icon-pencil.am-icon-sm
                p.weui_grid_label 测验
            a(href="javascript:;").weui_grid.grid-active
                div.weui_grid_icon
                    span.am-icon-paper-plane.am-icon-sm
                p.weui_grid_label 实时反馈

        div(data-am-widget="list_news").am-list-news.am-list-news-default
            //- div.am-list-news-hd.am-cf
            //-     a(href="###")
            //-         h2 程序实践

            div.am-list-news-bd
                a(href="").am-list-item-hd 杨老师 
                div#printWall
                    //- li.am-g.am-list-item-desced
                    //-     a(href="").am-list-item-hd 开放问题
                    //-     div.am-list-item-text websocket的工作原理？
                    //- li.am-g.am-list-item-desced
                    //-     a(href="").am-list-item-hd 学生提问
                    //-     div.am-list-item-text 发送你想问的问题
                    //- li.am-g.am-list-item-desced
                    //-     a(href="").am-list-item-hd 微试卷 
                    //-     div.am-list-item-text 请在60分钟内完成本次测验
                    //- li.am-g.am-list-item-desced
                    //-     a(href="").am-list-item-hd 即时应答 
                    //-     div.am-list-item-text 30s内写下你的答案
                    //- li.am-g.am-list-item-desced
                    //-     a(href="").am-list-item-hd 即时应答 
                    //-     div.am-list-item-text 30s内写下你的答案
            //- div.am-list-news-ft
            //-     a.am-list-news-more.am-btn.am-btn-default(href="###") 查看更多 &raquo;

        //- 输入框组件
        div.weui_cells.weui_cells_form.input-answer
            div.weui_cell 
                div.weui_cell_bd.weui_cell_primary 
                    input#inputSend.weui_input(type="text" placeholder="输入...")
                div.weui_cell_hd 
                    button#sendBtn.am-btn.am-btn-secondary.am-btn-lg 发送
                
            
        
        //- div.weui_tab.ctr_bar
        //-     div.weui_tab_bd
        //-         div.weui_tab_bd_item
        //-             h3 微信
                
        //-         div.weui_tab_bd_item
        //-             h3 通讯录
                
        //-         div.weui_tab_bd_item
        //-             h3 发现
                
        //-         div.weui_tab_bd_item
        //-             h3 我
                
        //-     div.weui_tabbar
        //-         a.weui_tabbar_item(href="javascript:;"))
        //-   .        dieui_tabbar_icon
        //-                 img(src="http://weui.github.io/weui/images/icon_nav_dialog.png" alt="")
                    
        //-             p.weui_tabbar_label 答题
                
        //-         a.weui_tabbar_item(href="javascript:;"))
        //-   .        dieui_tabbar_icon
        //-                 img(src="http://weui.github.io/weui/images/icon_nav_search_bar.png" alt="")
                    
        //-             p.weui_tabbar_label 发现
                
        //-         a.weui_tabbar_item(href="/user/:openid)")
        //-  .         dweui_tabbar_icon
        //-                 img(src="http://weui.github.io/weui/images/icon_nav_cell.png" alt="")
                    
        //-             p.weui_tabbar_label 我
                
            
        
        
      

        
      
    
  
                   
