extends ../layout

block content
    
    div.container
        include ../includes/msg_modal
        include ../includes/ctrl_panel

        script(src="/js/lib/require.js" data-main="/js/app/client")
        
      

        
      
    
  
                   
