extends ../layout

block content
    div.container
        include ../includes/msg_modal        
        include ../includes/ctrl_panel

        div(data-am-widget="list_news").am-list-news.am-list-news-default
            div.am-list-news-hd.am-cf
                a(href="###")
                    h2 开放问题

            div.am-list-news-bd
                ul.am-list#printWall
                        
                    
    script(src='/js/lib/AV.push.js')
    script(src="/js/app/realtime.js")
    script(src="/js/lib/require.js" data-main="/js/app/open")
