doctype
html
    head
        meta(charset='utf-8')
        title #{title}
        include ../includes/admin_head

    body
        div.header.signin-header
            div.am-g
                h1
                    a(href="/") 翘课吧 
            hr 

        div.am-g
            div.am-u-lg-6.am-u-md-8.am-u-sm-centered
                form(action="/user/reg",method="POST").am-form
                    div.row
                        input(type="hidden" name="role" value="1")
                        label(for="name") 姓名:
                        input#name(type="text" name="name" value="")
                    div.row
                        label(for="stu") 学号:
                        input#stuid(type="number" name="stuid" value="")
                    div.row
                        label(for="password") 密码:
                        input#password(type="password" name="password" value="")
                    div.row.btn-row
                        input#regBtn.btn-reg.am-btn.am-btn-primary.am-btn-lg(type="submit" name="" value="注册")    
                    div.row.btn-row
                        a(href="/user/login")
                            input.am-btn.am-btn-default.am-fr(type="button" name="" value="直接登录")

